[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/tracks"]
	path = themes/tracks
	url = https://github.com/ageekymonk/hugo-tracks-theme.git
[submodule "themes/lists"]
	path = themes/lists
	url = https://github.com/dim0627/hugo_theme_beg.git
